
.container {
    
    /* background-image: url('../../Imagenes/fondoHome.jpeg');
    background-attachment: fixed; 
    background-size: cover;
    background-size: 100%;
    background-position: center center; */
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.containerNav {
    /* flex: 85px; */
    width: 95%;
    height: 70px;
    display:flexbox;
    line-height: 25px;
}

.containerPagination {
    display: flex;
    justify-items: center;
    align-items: center;

}

.cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-top: 5%;
    justify-items: center;

}